.project{
        width: 100%;
        height: 10px;
        background: url('../img/bg-image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(3px);
}